<mat-card>
  
    <mat-card-header>
    
    <mat-card-title>
    
        <h2>Delete License: {{ licensename}} </h2>
    
    </mat-card-title>
    
    </mat-card-header>
    
    <mat-card-content>
        <p>Are you sure you want to delete this License?</p>
    </mat-card-content>
    <mat-dialog-actions>
        <!-- " -->
    <button mat-raised-button (click)="closeDialog()"  mat-dialog-close> Delete
    </button>
        
    <button mat-button mat-dialog-close> Cancel</button>
    </mat-dialog-actions>
 </mat-card>

