/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    width: 1360px;
    background-color: #FCFCFC;
}



.mat-tab-label{
    font-size: 15px !important;
    color: black !important;
    font-weight: bold !important;
 }

.mat-select-content{
    width:180px;
      
}

